<div class="searchable-dropdown" [class.open]="isOpen">
  <div 
    class="selected-item" 
    (click)="toggleDropdown()"
    (keydown)="onKeyDown($event)"
    tabindex="0"
  >
    <span *ngIf="!selectedItem" class="text-muted">{{ placeholder }}</span>
    <span *ngIf="selectedItem">{{ selectedItem[bindLabel] }}</span>
    <i class="bi bi-chevron-down float-end"></i>
  </div>
  
  <div class="dropdown-menu" [class.show]="isOpen">
    <div class="search-box p-2">
      <input 
        type="text" 
        class="form-control form-control-sm" 
        placeholder="Search..."
        [(ngModel)]="searchText"
        (ngModelChange)="onSearchChange($event)"
        (keydown)="onKeyDown($event)"
        (click)="$event.stopPropagation()"
        (keydown.escape)="isOpen = false"
        autofocus>
    </div>
    
    <div class="dropdown-list">
      <div 
        *ngFor="let item of filteredItems; let i = index" 
        class="dropdown-item"
        [class.active]="selectedItem && selectedItem[bindValue] === item[bindValue]"
        [class.highlighted]="i === highlightedIndex"
        (click)="selectItem(item)"
        (mouseenter)="highlightedIndex = i"
      >
        {{ item[bindLabel] }}
      </div>
      
      <div *ngIf="filteredItems.length === 0" class="dropdown-item text-muted">
        {{ notFoundText }}
      </div>
    </div>
  </div>
</div>
