.input-group-text {
  background-color: #f8f9fa;
  border-right: none;
}

.input-group .form-control {
  border-left: none;
}

.input-group .form-control:focus {
  border-left: none;
}

.input-group:focus-within .input-group-text {
  border-color: #86b7fe;
}
